.participant {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.name {
  width: 40%; 
}

.income {
  width: 40%;
  padding-left: 1em;
}

.action {
  width: 20%;
  text-align: right;
}
