<div class="participation-summary" *ngIf="participations.length >=2">
  Wydatek rzędu 
  <strong>{{expense.value | plncurrency }}</strong> należy rozłożyć tak, że
  <span *ngFor="let participation of participations; let last = last;  let first = first;">
    <ng-container *ngIf="last"> a </ng-container>
    {{participation.participant.name}}
    <ng-container *ngIf="first"> płaci </ng-container>
    <strong>{{participation.participation | plncurrency}}</strong><ng-container *ngIf="!last">,</ng-container></span>.
</div>
