<div class="add-participant">
  <input type="text" [(ngModel)]="participant.name" class="name form-input"
    placeholder="Imię" (keyup.enter)="addParticipant()" #name />
  <div class="input-group income">
    <input type="number" [(ngModel)]="participant.income" class="form-input"
      placeholder="Dochód" (keyup.enter)="addParticipant()" />
    <span class="input-group-addon">zł.</span>
  </div>
  <div class="action">
    <button (click)="addParticipant()" class="btn btn-primary btn-action btn-md">
      <i class="icon icon-plus"></i>
    </button>
  </div>
</div>
