.add-participant {
  display: flex;
  margin-top: 0.5em;
  padding: 0.5em 1em 1em 1em;

}

.name {
  width: 40%; 
}

.income {
  width: 40%; 
  margin-left: 1em;
}

.action {
  width: 20%;
  text-align: right;
}
